*{
  background-color:white;
}
#button{ background-color: blue;
padding: 10px;
border-radius: 10px;
color: white;
}
textarea, input{
  padding: 1px;
  border-radius: 5px;
  border: solid 1px black;
}
.phone{
  max-width: 15%;
}

.container{
  max-width: 500px;
}
